<!DOCTYPE html>
<html lang="ru-UA">
<head>
    <meta charset="UTF-8">
    <title>ДЗ JS 15-16</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/template.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <script type="text/template" id="search-response">
        <div>Результатов: примерно <%=searchInformation.formattedTotalResults%> (<%=searchInformation.formattedSearchTime%> сек.)</div>
        <ul>
            <% for(var i = 0; i < items.length; i++) { %>
            <li class="result-item clearfix">
                <% if(items[i].pagemap.cse_thumbnail) { %>
                <img height="70px" src="<%= items[i].pagemap.cse_thumbnail[0].src %>">
                <% }; %>
                <div class="text-block">
                    <a href="<%= items[i].link %>" class="link" target="_blank"><%= items[i].title %></a>
                    <div class="url"><%= items[i].displayLink %></div>
                    <div class="brief"><%= items[i].htmlSnippet %></div>
                </div>
            </li>
            <% }; %>
        </ul>
    </script>

    <h2>Google Custom Search API</h2>
    <div class="wrapper">
        <div class="search-form">
            <form action="www.infotrack.com.ua" target="_blank" method="get">
                <input class="search-edit" type="text" name="request">
                <input class="search-submit" type="submit" value="Поиск">
            </form>
        </div>
        <div id="results"></div>
    </div>
</body>
</html>